  <div class="col-md-12 text-right mb-3">
    <button class="btn btn-primary btn-sm" routerLink="addProduct">
      Add Product
    </button>
  </div>

<div class="row">

  <div class="col-md-4 mt-5">
    <ul class="list-group" *ngIf="getAllProducts.length >0 ; else noData">
      <li
      routerLinkActive="active"
        [routerLink]="[product.pid]"
        [queryParams]="{cr : product.canReturn}"
        class="list-group-item d-flex justify-content-between"
        *ngFor="let product of getAllProducts"
      >
       <strong> {{ product.pname }}</strong>
        <small class="badge" [ngClass]="{
          'badge-success' :  product.pstatus === 'Delivered',
          'badge-warning' :  product.pstatus === 'Shipped',
          'badge-danger' :  product.pstatus === 'Pending'


        }">{{product.pstatus}}</small>
      </li>
    </ul>
  </div>
  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>
</div>
<ng-template #noData>
  <p class="alert alert-info">
    NO PRODUCT IN DATABASE..!
  </p>
</ng-template>