<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">Product Name : {{ productObj.pname }}</div>
      <div class="card-body">
        <p>Status : {{ productObj.pstatus }}</p>
        <p>Can Return : {{ productObj.canReturn ? "Yes" : "No" }}</p>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <button
          (click)="redirectToEdit()" mat-raised-button color="primary" >Edit
        </button>
        <button (click)="onRemove()" mat-raised-button color="warn">
          Remove
        </button>
        <!-- <button 
        routerLink="/products/1003"
        mat-raised-button color="primary">Load Keyboard</button> -->
      </div>
    </div>
  </div>
</div>
